
<div class="container-sm d-flex justify-content-center" *ngIf="habilitar" >
   <div class="alert alert-primary d-flex align-items-center justify-content-center" role="alert" style="width: 500px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <div>
      No se Agrego Texto
    </div>
  </div>
</div>
<!--Text Agregar-->
<h1>Lista de Tareas</h1>
<div class="container-sm d-flex justify-content-center ">
    <div class="row" style="width: 500px;">
          
        <div class="col-sm">
            <form class="d-flex ">
                <input class="form-control me-3" name="tarea" type="text" placeholder="Task" [(ngModel)]="captarTarea">
                <input type="button" value="Agregar" (click)="addTask()">
            </form>
        </div>
    </div>
</div>
 <br>
 
<!--Mostrar-->

<div class="container-sm justify-content-center d-flex">
  <div class="row  " style="width: 500px;">
     <div class="col-sm-12 " >
        
         <ul class="list-group"  >
            <li class="list-group-item list-group-item-light shadow-lg mb-3 rounded d-flex justify-content-between animate__bounceIn" *ngFor="let elem of ListArray; let i=index"  >
              {{i+1}})  {{elem.nameList}}  
               
               <span>
                <button type="button"  class="btn-close " aria-label="Close" (click)="elimiList(i)"></button>
               </span>
            </li>
         </ul>
     </div> 
  </div>
</div>


  