<!--clase de boostrap para el alert-->
<app-mostrar-alert *ngIf="habilitar"></app-mostrar-alert>

<!--Text Agregar-->
<h1 class="mt-5">Lista de Tareas</h1>
<div class="container-sm d-flex justify-content-center ">
    <div class="row" style="width: 500px;">
          
        <div class="col-sm">
            <form class="d-flex ">
                <input class="form-control me-3" name="tarea" type="text" placeholder="Task" [(ngModel)]="captarTarea">
                <input type="button" value="Agregar" (click)="addTask()">
            </form>
        </div>
    </div>
</div>
 <br>
 
<!--Mostrar-->

<div class="container-sm justify-content-center d-flex">
  <div class="row" style="width: 500px;">
     <div class="col-sm-12 " >
        
        <ul class="list-group" *ngFor="let elem of ListArray; let i=index" >
            <li class="list-group-item list-group-item-light shadow-lg mb-3 rounded d-flex justify-content-between animate__bounceIn">
               {{i+1}})  {{elem.nameList}} 
               
              <span>
                <button class="icon icon-pencil me-2" (click)=" toggleEdit(elem)"></button>
                <button type="button"  class="btn-close" aria-label="Close" (click)="elimiList(i)"> </button>
              </span>
            </li>
             
             <div *ngIf="elem.editar" class="textoin animate__animated animate__fadeInDown animate__faster">
               <span>
                <input  type="text" class="form-control" name="tarea" [(ngModel)]="elem.nameList">
                <button type="button" class="btn">save</button>
               </span>
             </div>  
        </ul>
        
     </div> 
  </div>
</div>


<!--mostar input editar
<div class="container-sm" style="width: 480px;" >
 <input type="text" class="form-control me-3" name="tarea" [(ngModel)]="captarTarea">
</div>
-->